@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@1&display=swap');

.instrument-serif-italic {
  font-family: 'Instrument Serif', serif;
  font-style: italic;
  font-weight: 400;
}

.enormous-text {
  font-size: 130px;
}

.disable-animatons * {
  animation: none !important;
  transition: none !important;
}

.toDarkMode {
  animation: light-to-dark 0.7s linear 1;
}

.toLightMode {
  animation: dark-to-light 0.7s linear 1;
}

@keyframes dark-to-light{
  0% {
    background-color: black;
    color: white;
  }
  100% {
    background-color: white;
    color: black;
  }
}

@keyframes light-to-dark {
  0% {
    background-color: white;
    color: black;
  }
  100% {
    background-color: black;
    color: white;
  }
}